:root {
    --bg_purple: #774def;
    --faint_purple: #f0f0ff;
    --light_grey: #bbbbbb;
    --dark_grey: #888888;
}

body {
    background-color: #fff;
    color: #000;
}

h3 {
    margin-top: 20px;
    margin-left: 20px;
}

h3.sub {
    font-size: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #222;
    text-decoration: none;
}

.nav-logo {
    width: auto;
    height: auto;
    max-width: 220px;
    max-height: 35px;
    margin-left: 10px;
    margin-right: 24px;
}

.qmfg-nav-link {
    margin-inline: 10px;
    /* min-width: 200px; */
}

.main_block {
    display: inline-flex;
    float: center;

    width: 100%;
    max-width: 1200px;
    min-height: 400px;
}

/* Parking Lot */
.parking-lot-column {
    display: block;
    align-content: center;

    width: 25%;
    min-width: 260px;

    height: 100%;
    max-height: 400px;
}

.parking_lot {
    text-align: center;
    padding: 6px;
    border: 2px dotted #888;
    border-radius: 5px;

    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.parking_lot::-webkit-scrollbar {
    display: none;
  }

.parking_lot .work_order {
    width: auto;
    height: auto;
    min-width: 160px;
    max-width: 300px;
    list-style: none;
    margin-inline: 25px; 
    line-height: 2.4rem;
}

.parking_lot_header {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-block: 8px;
    /* width: auto; */
}


/* Week View */
.schedule {
    display: grid;
    width: 75%;
    height: 100%;
    position: relative;
}

.weekly-byline {
    margin-right: 10px;
    grid-template-columns:
        [machine_index] .25fr repeat(168, 1fr) [end-col];
    grid-template-rows:
        [weekday_header] .20fr 
        [line_5] 1fr 
        [line_6] 1fr 
        [line_7] 1fr 
        [line_8] 1fr 
        [line_9] 1fr 
        [end-row];
}

/* Use a Stacked Area Chart, separated by line. */
/* .weekly-byproduct {
    display: grid;
} */

/* GENERAL ITEM SETUP */

/* SCHEDULE BLOCKS */
.corner {
    background-color: #fff;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-inline: 2px;
    font-size: .75em;
    margin-right: 8px;
}

.weekday_header {
    background-color: #fff;

    text-align: center;
    font-weight: bolder;

    border-bottom: 1px solid #222;
    /* border-radius: 5px; */
}

.machine_index {

    line-height: 80px;
    font-size: 1.5em;
    text-align: center;

    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HOUR TYPES */
.hour {
    background-color: #fff;
    border-bottom: 1px solid #222;
    z-index: 0;
    height: 80px;
}

.hour.start_of_day {
    border-left: 1px solid #000;
}

.hour.midday {
    border-left: 1px dashed #000;
}

.hour.current_hour {
    border-inline: 2px solid #774defc0;
    background-color: #774def80;
}

.hour.elapsed {
    background-color: #e0e0e0;
}

/* WORK ORDER TYPES */
.work_order {
    list-style: none;

    width: auto;
    height: 60px;
    line-height: 56px;

    margin-block: 10px;
    border-radius: 35px;

    text-align: center;
    font-weight: bold;
    overflow: hidden;

    padding-inline: 8px;

    z-index: 2;
    opacity: .80;
}

.schedule .work_order {
    font-size: 18px;
}

.work_order.week_start {
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.work_order.week_end {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}

.work_order.bg {
    background-color: #fff;
    z-index: 1;
    opacity: 1;
}

/* PRODUCT TYPES */

.work_order.flu {
    background-color: #55d000e0;
    border: 2px solid #55d000;
}

.flu:hover {
    background-color: #55d500a0;
}

.work_order.abc {
    background-color: #ff00ffa0;
    border: 2px solid fuchsia;
}

.abc:hover {
    background-color: #ff00ff70;
}

.work_order.sars {
    background-color: #FF0000d0;
    border: 2px solid red;
}

.sars:hover {
    background-color: #FF0000b0;
}

.work_order.rsv {
    background-color: #ffa500d0;
    border: 2px solid orange;
}

.rsv:hover {
    background-color: #ffa50090;
}

.work_order.strep_aplus {
    background-color: #9400d3b0;
    border: 2px solid darkviolet;
}

.strep_aplus:hover {
    background-color: #9400d370;
}

.work_order.strep_inline {
    background-color: #00bfffc0;
    border: 2px solid deepskyblue;
}

.strep_inline:hover {
    background-color: #00bfff80;
}

.work_order.other {
    background-color: #cccccc90;
    border: 2px solid #cccccc;
}

.other:hover {
    background-color: #cccccc60;
}

/* WEEKDAY SELECTORS */
.mon {
    grid-row: weekday_header;
    grid-column: 2 / span 24;
}

.tue {
    grid-row: weekday_header;
    grid-column: 26 / span 24;
}

.wed {
    grid-row: weekday_header;
    grid-column: 50 / span 24;
}

.thu {
    grid-row: weekday_header;
    grid-column: 74 / span 24;
}

.fri {
    grid-row: weekday_header;
    grid-column: 98 / span 24;
}

.sat {
    grid-row: weekday_header;
    grid-column: 122 / span 24;
}

.sun {
    grid-row: weekday_header;
    grid-column: 146 / span 24;
}

/* MACHINE SELECTORS */
.line_5 {
    grid-area: line_5 / machine_index;
}

.line_6 {
    grid-area: line_6 / machine_index;
}

.line_7 {
    grid-area: line_7 / machine_index;
}

.line_8 {
    grid-area: line_8 / machine_index;
}

.line_9 {
    grid-area: line_9 / machine_index;
}