:root {
    --q-purple: #774def;

    --flu: #55d000;
    --abc: #ff00ff;
    --sars: #ff0000;
    --rsv: #ffa500;
    --strep_aplus: #9400d3;
    --strep_inline: #00bfff;
    --other: #aaaaaa;


}

body {
    background-color: #fff;
    color: #000;
}

.dev-banner {
    display: block;
    text-align: center;
    width: 100%;
    color: red;
}

a {
    color: unset;
    text-decoration: unset;
}

a:hover {
    color: unset;
    text-decoration: unset;
}

.card-title {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
}

h2 {
    font-weight: bolder;
}

h3.sub {
    font-size: 100%;
}

.h3-sub-right {
    display: inline-flex;
    font-weight: bolder;
    width: auto;
    text-align: right;
}

.h3-sub-right.arrows {
    font-size: 100%;
    margin-inline: 25px;
    transition: all 200ms;
    float: right;
}

.h3-sub-right.arrows:hover {
    color: #666;
}

.h3-sub-right-add {
    display: unset;
    width: 40px;
    height: 30px;

    border: 2px solid #333;
    border-radius: 5px;

    text-align: center;
    float: right;
    margin-right: 20px;
}

.h3-sub-right-add:hover {
    color: #fff;
    background-color: #333;
    border: 2px solid #51515105;
}

.nav-logo {
    width: auto;
    height: auto;
    max-width: 220px;
    max-height: 35px;
    margin-left: 10px;
    margin-right: 24px;
}

.qmfg-nav-link {
    margin-inline: 10px;
    /* min-width: 200px; */
}

.confirm-modal {
    display:inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0; 
    pointer-events: none;
    transition: all 500ms;
}

.confirm-modal:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.confirm-modal.window {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background-color: #fff;
    border: 1px solid #00000055;
    border-radius: 16px;
    z-index: 999;
}

.modal-bg:target {
    height: 600%;
    width: 600%;
    background-color: #444444;
    z-index: 995;
    visibility: hidden;
    opacity: 0; 
    pointer-events: none;
    transition: all 500ms;
}

.confirm-modal > h2 {
    font-size: 250%;
}

.confirm-modal > h4 {
    font-size: 150%;
    margin-bottom: 25px;
}

.confirm-modal .btn {
    width: 100%;
    margin-block: 15px;
}

.main-block {
    display: inline-flex;
    width: 100%;
    max-width: 1920px;
    min-height: 400px;
}

/* Parking Lot */
.parking-lot-column {
    display: block;
    align-content: center;

    width: auto;
    min-width: 240px;
    max-width: 320px;

    height: 100%;
    max-height: 400px;
}

.parking_lot {
    display: block;
    text-align: center;
    padding: 2px;
    border: 2px dotted #888;
    border-radius: 5px;

    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.parking_lot::-webkit-scrollbar {
    display: none;
  }

.parking_lot .work_order {
    width: auto;
    height: 40px;
    min-width: 160px;
    list-style: none;
    margin-inline: 15px; 
    line-height: 2.2rem;
    cursor: grab;
    margin-block: 6px;
}

.parking_lot_header {
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    margin-block: 8px;
}

.parking_lot .add {
    /* display: block; */
    height: 40px;
    line-height: 2.2rem;
    width: auto;

    margin-block: 8px;
    margin-inline: 15px;

    text-align: center;
    font-weight: bolder;
    
    border-radius: 12px;
    border: 2px solid var(--q-purple);
    color: var(--q-purple);
}

.parking_lot .add:hover {
    background-color: var(--q-purple);
    border: 2px solid #00ced110;
    color: #fff;
}

/* Week View */
.schedule {
    display: grid;
    width: 84%;
    height: 100%;
    position: relative;
}

.schedule-str {
    margin-inline: 5px;
}

.schedule.weekly-byline {
    grid-template-columns:
        [machine_index] 1fr repeat(168, 1fr) [last_col] 1fr [end-col];
    grid-template-rows:
        [weekday_header] .20fr 
        [line_5] 1fr 
        [line_6] 1fr 
        [line_7] 1fr 
        [line_8] 1fr 
        [line_9] 1fr 
        [end-row];
}

/* GENERAL ITEM SETUP */
/* SCHEDULE BLOCKS */
.corner {
    background-color: #fff;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    font-size: .75em;
}

.weekday_header {
    background-color: #fff;

    text-align: center;
    font-weight: bolder;

    border-bottom: 1px solid #222;
}

.machine_index {

    line-height: 80px;
    font-size: 1.5em;
    text-align: center;
    margin-right: 6px;

    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HOUR TYPES */
.hour {
    background-color: #fff;
    border-bottom: 1px solid #000;
    /* z-index: 0; */
    height: 80px;
}

.hour.elapsed {
    background-color: #00000018;
}

.hour.last_hour {
    border-right: 1px solid #000;
}

.hour.not-scheduled {
    background-color: #00000033;
    /* z-index: 3; */
}

.hour.current_hour {
    border-inline: 1px solid #774defc0;
    background-color: #774defc0;
}

.hour.start_of_day {
    border-left: 1px solid #000;
}

.hour.midday {
    border-left: 1px dashed #000;
}

/* WORK ORDER TYPES */
.work_order {
    list-style: none;

    width: auto;
    height: 60px;
    line-height: 56px;

    margin-block: 6px;
    border-radius: 12px;

    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    overflow: hidden;

    padding-inline: 8px;

    /* z-index: 30; */
    opacity: .85;
    /* color: #fff; */
	/* -webkit-text-stroke: .75px #000000d5; */
	/* -webkit-text-fill-color: #ddddddd5; */
    transition: all 200ms;
}

.work_order:hover {
    color: #fff;
    opacity: .65;
    border: 2px solid #fff;
}

.schedule .work_order {
    font-size: 18px;
    margin-block: 10px;
    border-radius: 16px;
    margin-inline: 1px;
}

.work_order.week_start {
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.work_order.week_end {
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.work_order.bg {
    background-color: #fff;
    z-index: 5;
    opacity: 1;
    padding: 0px;
}

/* PRODUCT TYPES */

.work_order.flu {
    background-color: var(--flu);
    border: 2px solid var(--flu);
}

.work_order.abc {
    background-color: var(--abc);
    border: 2px solid var(--abc);
}

.work_order.sars {
    background-color: var(--sars);
    border: 2px solid var(--sars);
}

.work_order.rsv {
    background-color: var(--rsv);
    border: 2px solid var(--rsv);
}

.work_order.strep_aplus {
    background-color: var(--strep_aplus);
    border: 2px solid var(--strep_aplus);
}

.work_order.strep_inline {
    background-color: var(--strep_inline);
    border: 2px solid var(--strep_inline);
}

.work_order.other {
    background-color: var(--other);
    border: 2px solid var(--other);
}

/* WEEKDAY SELECTORS */
.mon {
    grid-row: weekday_header;
    grid-column: 2 / span 24;
}

.tue {
    grid-row: weekday_header;
    grid-column: 26 / span 24;
}

.wed {
    grid-row: weekday_header;
    grid-column: 50 / span 24;
}

.thu {
    grid-row: weekday_header;
    grid-column: 74 / span 24;
}

.fri {
    grid-row: weekday_header;
    grid-column: 98 / span 24;
}

.sat {
    grid-row: weekday_header;
    grid-column: 122 / span 24;
}

.sun {
    grid-row: weekday_header;
    grid-column: 146 / span 24;
}

/* MACHINE SELECTORS */
.line_5 {
    grid-area: line_5 / machine_index;
}

.line_6 {
    grid-area: line_6 / machine_index;
}

.line_7 {
    grid-area: line_7 / machine_index;
}

.line_8 {
    grid-area: line_8 / machine_index;
}

.line_9 {
    grid-area: line_9 / machine_index;
}