:root {
    --bg_purple: #774def;
    --faint_purple: #f0f0ff;
    --light_grey: #bbbbbb;
    --dark_grey: #888888;
}

body {
    background-color: #fff;
}

h3 {
    margin-top: 20px;
    margin-left: 20px;
}

.nav-logo {
    width: auto;
    height: auto;
    max-width: 220px;
    max-height: 35px;
    margin-right: 20px;
}

.qmfg-nav-link {
    margin-inline: 10px;
    /* min-width: 200px; */
}

.main_block {
    display: inline-flex;
    float: center;

    width: 100%;
    max-width: 1200px;
    min-height: 400px;

    background-color: #fff;
}

/* Parking Lot */
.parking_lot {
    display: block;
    width: 25%;
    min-width: 240px;
    height: auto;
    overflow: auto;

    text-align: center;
    padding: 10px;
    margin-left: 35px;
    border: 1.5px dotted #888;
    border-radius: 5px;
}

.parking_lot li {
    width: auto;
    list-style: none;
    margin-block: 5px;
    margin-inline: 25px;    
    height: 2em;
    line-height: 2em;
}

.parking_lot_header {
    font-size: 1.25em;
    font-weight: bolder;
    width: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #888;
    color: #000;
    padding: 5px;
}


/* Week View */
.schedule {
    display: grid;
    /* grid-row-gap: 5px; */
    width: 75%;
    /* min-width: 600px; */
    height: 100%;
    position: relative;

    /* aspect-ratio: 2.5 / 1; */

    /* float: left; */
}

.weekly-byline {
    margin: 0px;
    grid-template-columns:
        [machine_index] .25fr repeat(168, 1fr) [end-col];
    grid-template-rows:
        [weekday_header] .20fr 
        [line_5] 1fr 
        [line_6] 1fr 
        [line_7] 1fr 
        [line_8] 1fr 
        [line_9] 1fr 
        [end-row];
}

/* Use a Stacked Area Chart, separated by line. */
/* .weekly-byproduct {
    display: grid;
} */

/* GENERAL ITEM SETUP */
.schedule li {
    padding: 1em;
}

.corner {
    color: #000;
    background-color: #fff;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-inline: 2px;
    font-size: .75em;
}
.weekday_header {
    background-color: #fff;
    color: #000;

    text-align: center;
    font-weight: bolder;

    /* border-bottom: 1px solid #000; */
    /* border-radius: 5px; */
}
.machine_index {
    background-color: #eee;
    color: #000;

    margin-inline: 4px;
    margin-block: 6px;

    line-height: 3em;
    font-size: 1.5em;
    text-align: center;

    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    border-radius: 20px;
    border: 1px solid #aaa;
}

.hour {
    background-color: #fff;
    border-block: .5px solid #aaa;
    z-index: 0;
}

.hour.start_of_day {
    border-left: 1px solid #000;
}

.hour.current_hour {
    border-inline: 2px solid #774defc0;
    background-color: #774def80;
}

.work_order {
    width: auto;
    min-width: 180px;
    font-weight: bold;
    text-align: center;
    list-style: none;
    
    margin-block: 15px;
    margin-inline: 2px;
    border-radius: 35px;

    /* padding: auto; */
    opacity: 1;
    z-index: 2;
    /* position: relative; */
}

.work_order.bg {
    background-color: #fff;
    z-index: 1;
    opacity: 1;
}

/* WORK ORDER TYPES */

.work_order.flu {
    background-color: #32cd3260;
    border: 1px solid limegreen;
}

.work_order.abc {
    background-color: #ff00ff50;
    border: 1px solid fuchsia;
}

.work_order.sars {
    background-color: #FF000060;
    border: 1px solid red;
}

.work_order.rsv {
    background-color: #ffa50070;
    border: 1px solid orange;
}

.work_order.strep_aplus {
    background-color: #9400d360;
    border: 1px solid darkviolet;
}

.work_order.strep_inline {
    background-color: #00bfff60;
    border: 1px solid deepskyblue;
}

/* #region WEEKDAY SELECTORS */
.mon {
    grid-row: weekday_header;
    grid-column: 2 / span 24;
}

.tue {
    grid-row: weekday_header;
    grid-column: 26 / span 24;
}

.wed {
    grid-row: weekday_header;
    grid-column: 50 / span 24;
}

.thu {
    grid-row: weekday_header;
    grid-column: 74 / span 24;
}

.fri {
    grid-row: weekday_header;
    grid-column: 98 / span 24;
}

.sat {
    grid-row: weekday_header;
    grid-column: 122 / span 24;
}

.sun {
    grid-row: weekday_header;
    grid-column: 146 / span 24;
}
/* # endregion */

/* MACHINE SELECTORS */
.line_5 {
    grid-area: line_5 / machine_index;
}

.line_6 {
    grid-area: line_6 / machine_index;
}

.line_7 {
    grid-area: line_7 / machine_index;
}

.line_8 {
    grid-area: line_8 / machine_index;
}

.line_9 {
    grid-area: line_9 / machine_index;
}