{% extends 'layout.html' %}
{% block content %}
<div class="card card-style mb-2 col-sm-8 col-md-6 col-lg-4">
    <h3>Add Work Order</h3>
    <div class="card-body">
        <form action="" method="POST">
            {{ form.csrf_token() }}
            <fieldset class="form-group">

                <div class="form-group">
                    {{ form.product.label(class = "form-control-label") }}
                    {{ form.product(class = "form-control form-control-md") }}
                </div>

                <div class="form-group">
                    {{ form.lot_id.label(class="form-control-label") }}
                    {% if form.lot_id.errors %}
                        {{ form.lot_id(class="form-control form-control-sm is-invalid") }}
                        {% for error in form.lot_id.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.lot_id(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.lot_number.label(class="form-control-label") }}
                    {% if form.lot_number.errors %}
                        {{ form.lot_number(class="form-control form-control-sm is-invalid") }}
                        {% for error in form.lot_number.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.lot_number(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.strip_lot_number.label(class="form-control-label") }}
                    {% if form.strip_lot_number.errors %}
                        {{ form.strip_lot_number(class="form-control form-control-sm is-invalid") }}
                        {% for error in form.strip_lot_number.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.strip_lot_number(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.status.label(class = "form-control-label") }}
                    {{ form.status(class = "form-control form-control-sm") }}
                </div>

                <div class="form-group border-bottom pb-3">
                    {{ form.submit(class="btn btn-outline-info", style="width: 100%")}}
                </div>

            </fieldset>
        </form>
    </div>
</div>
{% endblock %}