<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>qmfg-tools-prebuild</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header">
        <div class="header main">
            <p>Work Order Flow</p>
        </div>
        <div class="header sub">
            <p>Cassette Pouching</p>
        </div>
    </div>
    <div class="nav_bar">
        <li class="nav_link">Home</li>
        <li class="nav_link">Create Work Order</li>
        <li class="nav_link">Load Work Order</li>
        <li class="nav_link">Modify Work Order</li>
        <li class="nav_link">Remove Work Order</li>
        <li class="nav_link">Help</li>
    </div>

    <div class="main_block">
        <div class="side_bar">
            <p>Side Bar</p>
        </div>
        <div class="calendar weekly-byline" id="grid_div">
            <!-- <ul> -->

            <!--  WEEK DAYS  -->
            <li class="weekday_header mon">MON</li>
            <li class="weekday_header tue">TUE</li>
            <li class="weekday_header wed">WED</li>
            <li class="weekday_header thu">THU</li>
            <li class="weekday_header fri">FRI</li>
            <li class="weekday_header sat">SAT</li>
            <li class="weekday_header sun">SUN</li>

            <!--  PRODUCTION LINES  -->
            <li class="machine_index line_5">5</li>
            <li class="machine_index line_6">6</li>
            <li class="machine_index line_7">7</li>
            <li class="machine_index line_8">8</li>
            <li class="machine_index line_9">9</li>

            <!--  TOP LEFT CORNER FILLER  -->
            <li class="corner">LINE</li>

            <!--  EMPTY CELL FILLERS -->
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <li class="day"></li>
            <!-- </ul> -->
        </div>
        <div class="parking_lot">
            <li class="parking_lot_header">Parking Lot</li>
            <li class="work_order">Lot ABC</li>
        </div>
    </div>
</body>

</html>