{% extends 'layout.html' %}
{% block content %}
<div class="card card-style mb-2 col-lg-8" style="min-width: 992px">
    <h3>Week Schedule - iTrak</h3>
    <div class="main-block card-body" style="display: inline-flex;">
        <div class="schedule weekly-byline">

            <!--  OVERRIDE current_hour (dev only)-->
            {# {% set current_hour = 56 %} #}

            <!--  TOP LEFT CORNER  -->
            <div class="corner">LINE</div>

            <!--  WEEKDAY HEADERS  -->
            {% for day in weekdays %}
                <div class="weekday_header {{ day.lower()[:3] }}">{{ day[:3] }}</div>
            {% endfor %}

            <!--  PRODUCTION LINES  -->
            {% for line in lines %}
                <div class="machine_index line_{{ line }}">{{ line }}</div>
                {% for hour in range(24 * 7) %}
                    {% set col_num = hour + 2 %}
                    {% if hour == current_hour %}
                        <div class="hour current_hour" id="line_{{ line }}_hr_{{ hour }}"
                            style="grid-row: line_{{ line }}; grid-column: {{ col_num }}"></div>
                    {% elif hour == 0 %}
                        <div class="hour" id="line_{{ line }}_hr_{{ hour }}"
                            style="grid-row: line_{{ line }}; grid-column: {{ col_num }}"></div>
                    {% elif hour % 24 == 0 %}
                        <div class="hour start_of_day" id="line_{{ line }}_hr_{{ hour }}"
                            style="grid-row: line_{{ line }}; grid-column: {{ col_num }}"></div>
                    {% else %}
                        <div class="hour" id="line_{{ line }}_hr_{{ hour }}"
                            style="grid-row: line_{{ line }}; grid-column: {{ col_num }}"></div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <!-- {% for entry in entries %}
            <li class="work_order abc" style="margin: 0px; grid-row: line_{{ line }}; "></li>
        {% endfor %} -->

            <li class="work_order abc" style="grid-column: 4 / 50; grid-row: line_6;">ABC 789</li>
            <li class="work_order bg" style="grid-column: 4 / 50; grid-row: line_6;"></li>

            <li class="work_order flu" style="grid-column: 64 / 128; grid-row: line_7;">Flu 456</li>
            <li class="work_order bg" style="grid-column: 64 / 128; grid-row: line_7;"></li>

            <li class="work_order strep_inline" style="grid-column: 16 / 72; grid-row: line_8;">Strep IL 123</li>
            <li class="work_order bg" style="grid-column: 16 / 72; grid-row: line_8;"></li>

            <li class="work_order sars" style="grid-column: 56 / 110; grid-row: line_9;">SARS 456</li>
            <li class="work_order bg" style="grid-column: 56 / 110; grid-row: line_9;"></li>

            <li class="work_order rsv" style="grid-column: 36 / 100; grid-row: line_5;">RSV 123</li>
            <li class="work_order bg" style="grid-column: 36 / 100; grid-row: line_5;"></li>

            <li class="work_order strep_aplus" style="grid-column: 90 / 144; grid-row: line_6;">Strep A+ 456
            </li>
            <li class="work_order bg" style="grid-column: 90 / 144; grid-row: line_6;"></li>
        </div>

        <div class="parking_lot">
            <div class="parking_lot_header">Parking Lot</div>
            {% for lot in parking_lot %}
                {{ lot.lot_id.data }}
                <li class="work_order {{ lot.product }}">{{ lot.product }} {{ lot.lot_id }}</li>
            {% endfor %}

        </div>
    </div>
</div>
{# </div> #}
{% endblock %}