{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="/static/style.css" />
<div class="col-sm-10" style="text-align: center;">
    <h2>Week Schedule - iTrak</h2>
    <div class="main_block">
    <div class="schedule weekly-byline" id="grid_div">

        <!--  TOP LEFT CORNER  -->
        <div class="corner">LINE</div>

        <!--  WEEKDAY HEADERS  -->
        {% for day in weekdays %}
            <div class="weekday_header {{ day.lower() }}">{{ day }}</div>
        {% endfor %}


        <!--  PRODUCTION LINES  -->
        {% for line in lines %}
            <div class="machine_index line_{{ line }}">{{ line }}</div>
            {% for day in weekdays %}
                {% for hour in range(24) %}
                    <div class="hour {{ day }}{{ hour }}" style="grid-row: line_{{ line }};">
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        
        <!-- <li class="work_order blue_product" style="grid-column: mon / thu; grid-row: line_7;">Lot 123 ABC</li> -->
        <!-- <li class="work_order green_product" style="grid-column-start: MON1; grid-column-end: TUE15; grid-row: line_7;">Lot 456 RSV</li> -->
    </div>
    <div class="parking_lot">
        <div class="parking_lot_header">Parking Lot</div>
        <li class="work_order blue_product">Lot 123 ABC</li>
        <li class="work_order green_product">Lot 456 RSV</li>
    </div>
    
        
</div>
</div>
{% endblock %}