{% extends 'layout.html.jinja' %}
{% block content %}
<div class="card card-style mb-2 col-md-12 col-lg-11" style="min-width: 992px; max-width: 1600px;">
    <h3>Schedule - iTrak Lines</h3>
    <div class="main-block card-body" style="display: inline-flex;">
        <div class="schedule weekly-byline">

            <!--  TOP LEFT CORNER  -->
            <div class="corner">LINE</div>

            <!--  WEEKDAY HEADERS  -->
            {% for day in schedule.dates %}
                <div class="weekday_header {{ day.strftime('%a').lower() }}">
                    <div>{{ day.strftime('%a') }}</div>
                    <div style="font-size: 90%">{{ day.strftime('%b %d') }}</div>
                </div>
            {% endfor %}

            <!--  PRODUCTION LINES  -->
            {% for line in lines %}
                <div class="machine_index line_{{ line }}">{{ line }}</div>

                <!-- HOURS OF THE WEEK-->
                {% for hour in range(24 * 7) %}
                    {% set col_num = hour + 2 %}

                    {# This block allocates CSS classes #}
                    {# to each hour based on conditionals. #}
                    <div class="hour 

                        {% if hour == schedule.current_hour() %}
                            current_hour 
                        {% endif %}

                        {% if hour != 0 and hour % 24 == 0%}
                            start_of_day
                        {% endif %}

                        {% if hour % 24 == 12 %}
                            midday 
                        {% endif %}

                        {% if hour < schedule.current_hour() %}
                            elapsed 
                        {% endif %}"
                        style="grid-row: line_{{ line }}; grid-column: {{ col_num }}">
                    </div>
                {% endfor %}
            {% endfor %}

            {% for work_order in schedule.work_orders %}
                {% if work_order.start_datetime.date() < schedule.start_date %}
                <!-- WORK ORDERS THAT STARTED THE PREVIOUS WEEK -->
                    {% set start_col = 2 %}
                    {% set end_col = (work_order.end_datetime.weekday() * 24 + work_order.end_datetime.hour + 2) %}
                        <div id="sched_{{ work_order.lot_number }}" style="grid-column-start: {{ start_col }};
                            grid-column-end: {{ end_col }}; grid-row: line_{{ work_order.line }};">
                            <a href="/view-work-order/{{ work_order.lot_number }}">
                                <li class="work_order {{ work_order.product }} week_start" 
                                    style="grid-column-start: {{ start_col }}; grid-column-end: {{ end_col }};
                                    grid-row: line_{{ work_order.line }};">
                                        {{ work_order.product_name }}  {{ work_order.lot_id }}
                                </li>
                            </a>
                        </div>
                {% elif work_order.end_datetime.date() > schedule.end_date %}
                <!-- WORK ORDERS THAT WILL END THE FOLLOWING WEEK -->
                    {% set start_col = (work_order.start_datetime.weekday() * 24 + work_order.start_datetime.hour + 2) %}
                    {% set end_col = 169 %}
                        <div id="sched_{{ work_order.lot_number }}" style="grid-column-start: {{ start_col }};
                            grid-column-end: {{ end_col }}; grid-row: line_{{ work_order.line }};">
                            <a href="/view-work-order/{{ work_order.lot_number }}">
                                <li class="work_order {{ work_order.product }} week_end" 
                                    style="grid-column-start: {{ start_col }}; grid-column-end: {{ end_col }};
                                    grid-row: line_{{ work_order.line }};">
                                        {{ work_order.product_name }}  {{ work_order.lot_id }}
                                </li>
                            </a>
                        </div>

                {% else %}
                <!-- WORK ORDERS -->
                    {% set start_col = (work_order.start_datetime.weekday() * 24 + work_order.start_datetime.hour + 2) %}
                    {% set end_col = (work_order.end_datetime.weekday() * 24 + work_order.end_datetime.hour + 2) %}
                        <div id="sched_{{ work_order.lot_number }}" style="grid-column-start: {{ start_col }};
                            grid-column-end: {{ end_col }}; grid-row: line_{{ work_order.line }};">
                            <a href="/view-work-order/{{ work_order.lot_number }}">
                                <li class="work_order {{ work_order.product }}" 
                                    style="grid-column-start: {{ start_col }}; grid-column-end: {{ end_col }};
                                    grid-row: line_{{ work_order.line }};">
                                        {{ work_order.product_name }}  {{ work_order.lot_id }}
                                </li>
                            </a>
                        </div>
                {% endif %}

            {% endfor %}
        </div>

        <div class="col parking-lot-column">
            <div class="parking_lot_header">Parking Lot</div>
            <div class="parking_lot">
                {% for work_order in schedule.parking_lot() %}
                    <a href="/view-work-order/{{ work_order.lot_number }}">
                        <li class="work_order {{ work_order.product }}" id="park_{{ work_order.lot_number }}">
                        {{ work_order.product_name }}  {{ work_order.lot_id }}
                        </li>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}