{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="/static/style.css" />
<div class="col-sm-10 ml-auto mr-auto ">
    <H2>Week Schedule - iTrak</H2>
    <div class="main_block">
    <div class="schedule weekly-byline" id="grid_div">
        <!-- <ul> -->
        
        <!--  TOP LEFT CORNER FILLER  -->
        <li class="corner">LINE</li>

        <!--  WEEK DAYS  -->
        <li class="weekday_header mon">MON</li>
        <li class="weekday_header tue">TUE</li>
        <li class="weekday_header wed">WED</li>
        <li class="weekday_header thu">THU</li>
        <li class="weekday_header fri">FRI</li>
        <li class="weekday_header sat">SAT</li>
        <li class="weekday_header sun">SUN</li>

        <!--  PRODUCTION LINES  -->
        <li class="machine_index line_5">5</li>
        <li class="machine_index line_6">6</li>
        <li class="machine_index line_7">7</li>
        <li class="machine_index line_8">8</li>
        <li class="machine_index line_9">9</li>

        <!--  EMPTY CELL FILLERS -->
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <li class="day"></li>
        <!-- </ul> -->
    </div>
    <div class="parking_lot">
        <li class="parking_lot_header">Parking Lot</li>
        <li class="work_order blue_product">Lot 123 ABC</li>
        <li class="work_order green_product">Lot 456 RSV</li>
    </div>
</div>
</div>
{% endblock %}