<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css" />

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  {% if title %}
  <title>Production Scheduler - {{ title }}</title>
  {% else %}
  <title>Production Scheduler</title>
  {% endif %}
</head>

<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-0">
        <header class="mb-4">
          <nav class="navbar navbar-expand-xl navbar-dark p-3" style="background-color: #774def;">
            <a class="navbar-brand" href="{{ url_for('index') }}" style="font-size: 110%;">
              <img src="/static/logo.png" class="nav-logo" />Production Scheduler</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link qmfg-nav-link" href="{{ url_for('view_all_work_orders') }}">View Work Orders</a>
                <a class="nav-item nav-link qmfg-nav-link" href="{{ url_for('add_work_order') }}">Add Work Order</a>
                <a class="nav-item nav-link qmfg-nav-link" href="{{ url_for('performance') }}">Performance</a>
              </div>
            </div>
          </nav>
        </header>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10">
        {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </div>
    <div class="row justify-content-center">
      {% block content %}
      {% endblock %}
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>