{% extends 'layout.html.jinja' %}
{% block content %}
<div class="card card-style mb-2 col-sm-10 col-md-8 col-lg-6" style="max-width: 540px;">
    <h3 class="card-title">Load Work Order</h3>
    <h3 class="sub card-title">Lot #{{ work_order.lot_number }} ({{ work_order.short_name }} {{ work_order.lot_id }})</h3>
    <div class="card-body">
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">

                <!-- MACHINE FIELD -->
                <div class="form-group">
                    {{ form.machine.label(class="form-control-label") }}
                    {{ form.machine(class="form-control form-control-md") }}
                </div>

                <div>
                    <!-- PRIORITY FIELD -->
                    <div class="form-group">
                        {{ form.priority.label(class="form-control-label", style="font-style: bold") }}
                        {{ form.priority(class="form-control form-control-md", style="border-bottom: none; border-inline: none; list-style: none;") }}
                    </div>

                    <!-- START DATE FIELD -->
                    <div class="form-group">
                        {{ form.start_date.label(class="form-control-label") }}
                        {{ form.start_date(class="form-control form-control") }}
                    </div>

                    <!-- START TIME FIELD -->
                    <div class="form-group">
                        {{ form.start_time.label(class="form-control-label") }}
                        {{ form.start_time(class="form-control form-control") }}
                    </div>
                </div>

                <!-- SUBMIT BUTTON -->
                <div class="form-group border-bottom pb-3">
                    {{ form.submit(class="btn btn-outline-info", style="width: 100%")}}
                </div>
                
                <div>
                    <a href="{{ url_for('index') }}"
                            class="btn btn-outline-secondary" style="width: 100%">Cancel</a>
                </div>

            </fieldset>
        </form>
    </div>
</div>
{% endblock %}