{% extends 'layout.html.jinja' %}
{% block content %}

<!-- GRID COLUMNS TO THE LEFT OF SCHEDULE -->
{% set schedule_offset = 2 %}

<!-- DYNAMIC CSS FOR SCHEDULE GRID -->
<style>
    {# SCHEDULE-GRID SETUP #}
    .schedule.weekly-bymachine {
        grid-template-columns:
            [machine_index] 1fr repeat({{ schedule.COLS_PER_WEEK }}, 1fr) [last_col] 1fr [end-col];
        grid-template-rows:
            [weekday_header] .20fr
            {% for machine in schedule.machines %}
            [{{ machine.short_name }}] 1fr
            {% endfor %}
            [end-row];
    }

    {# MACHINE ROW HEADERS #}
    {% for machine in schedule.machines %}
    .{{ machine.short_name }} {
        grid-area: {{ machine.short_name }} / machine_index;
    }
    {% endfor %}

    {# WEEKDAY HEADERS #}
    {% for day in schedule.dates %}
    .{{ day.strftime('%a').lower() }} {
        grid-row: weekday_header;
        grid-column: {{ schedule_offset + (day.weekday() * schedule.COLS_PER_DAY) }} / span {{ schedule.COLS_PER_DAY }};
    }
    {% endfor %}
</style>

<div class="card card-style mb-2 col-md-12 col-lg-12" style="min-width: 992px; max-width: 1680px;">
    <div style="display: inline-flex; width: 100%;">
        <div style="width: 50%;">
            <h3 class="card-title">Pouching - 
            {% if schedule.machine_family == 'itrak' %}
            iTrak
            {% elif schedule.machine_family == 'dipstick' %}
            Dipstick
            {% else %}
            Other
            {% endif %}
            </h3>
        </div>
        <div class="h3-sub-right" style="width: 50%;  min-width: fit-content; margin-top: 25px; text-align: right;">
            <a href="/schedule/{{ schedule.machine_family }}/{{ schedule.prior_week }}">
                <div class="h3-sub-right arrows">
                    < </div>
            </a>
            <div class="h3-sub-right arrows">{{ schedule }}</div>
            <a href="/schedule/{{ schedule.machine_family }}/{{ schedule.next_week }}">
                <div class="h3-sub-right arrows"> > </div>
            </a>
        </div>
    </div>
    <div class="card-body main-block" style="display: inline-flex;">

        <!-- SCHEDULE -->
        <div class="schedule weekly-bymachine">


            <!--  PREVIOUS WEEK ARROWS  -->
            <a href="/schedule/{{ schedule.machine_family }}/{{ schedule.prior_week }}">
                <div class="corner">
                    << </div>
            </a>

            <!--  WEEKDAY HEADERS  -->
            {% for day in schedule.dates %}
            <div class="weekday_header {{ day.strftime('%a').lower() }}">
                <div>{{ day.strftime('%a') }}</div>
                <div style="font-size: 90%">{{ day.strftime('%b %d') }}</div>
            </div>
            {% endfor %}

            <!-- FOLLOWING WEEK ARROWS -->
            <a href="/schedule/{{ schedule.machine_family }}/{{ schedule.next_week }}">
                <div class="corner">
                    >> </div>
            </a>

            <!--  PRODUCTION LINES  -->
            {% for machine in schedule.machines %}
            <div class="machine_index {{ machine.short_name }}">{{ machine.id }}</div>

            <!-- HOURS OF THE WEEK-->
            {% for schedule_column in range(schedule.COLS_PER_WEEK) %}
            {% set column_number = (schedule_column + schedule_offset) %}

            {# This block allocates CSS classes #}
            {# to each grid element based on conditionals. #}
            <div class="schedule_column 
                        {% if schedule.schedule_tense == 'current' %}
                            {% if schedule_column == schedule.current_grid_column %}
                                current_column 
                            {% endif %}
                            {% if schedule_column < schedule.current_grid_column %}
                                elapsed 
                            {% endif %}
                        {% elif schedule.schedule_tense == 'past' %}
                            elapsed 
                        {% endif %}

                        {% if not schedule.schedule_mask[schedule_column] %}
                            not_scheduled 
                        {% endif %}

                        {% if schedule_column % schedule.COLS_PER_DAY == 0 %}
                            start_of_day 
                        {% endif %}

                        {% if schedule_column % schedule.COLS_PER_DAY == (schedule.COLS_PER_DAY / 2) %}
                            midday 
                        {% endif %}

                        {% if schedule_column == (schedule.COLS_PER_WEEK - 1) %}
                            last_column 
                        {% endif %}" style="grid-row: {{ machine.short_name }}; grid-column: {{ column_number }}">
            </div>
            {% endfor %}
            {% endfor %}

            <!-- WORK ORDERS -->
            {% for work_order in schedule.work_orders %}
            {% if work_order.pouching_start_dt < schedule.start_datetime and work_order.pouching_end_dt > schedule.end_datetime %}
                <!-- WORK ORDERS THAT SPAN THE CURRENT WEEK -->
                {% set start_col = schedule_offset %}
                {% set end_col = schedule_offset + schedule.COLS_PER_WEEK - 1 %}
                <div id="sched_{{ work_order.lot_number }}" style="grid-column-start: {{ start_col }};
                            grid-column-end: {{ end_col }}; grid-row: {{ work_order.machine }};">
                    <a href="/view-work-order/{{ work_order.lot_number }}">
                        <li class="work_order {{ work_order.product }} week_span" style="grid-column-start: {{ start_col }}; grid-column-end: {{ end_col }};
                                    grid-row: {{ work_order.machine }};">
                            {{ work_order.short_name }} {{ work_order.lot_id }}
                        </li>
                    </a>
                </div>
                {% elif work_order.pouching_start_dt < schedule.start_datetime %}
                <!-- WORK ORDERS THAT STARTED THE PREVIOUS WEEK -->
                    {% set start_col = schedule_offset %}
                    {% set end_col = schedule_offset + (work_order.pouching_end_dt.weekday() * schedule.COLS_PER_DAY)
                     + (work_order.pouching_end_dt.hour * schedule.COLS_PER_HOUR) + 1 %}
                    <div id="sched_{{ work_order.lot_number }}" style="grid-column-start: {{ start_col }};
                            grid-column-end: {{ end_col }}; grid-row: {{ work_order.machine }};">
                        <a href="/view-work-order/{{ work_order.lot_number }}">
                            <li class="work_order {{ work_order.product }} week_start" style="grid-column-start: {{ start_col }}; grid-column-end: {{ end_col }};
                                    grid-row: {{ work_order.machine }};">
                                {{ work_order.short_name }} {{ work_order.lot_id }}
                            </li>
                        </a>
                    </div>
                {% elif work_order.pouching_end_dt > schedule.end_datetime %}
                <!-- WORK ORDERS THAT WILL END THE FOLLOWING WEEK -->
                    {% set start_col = (schedule_offset + (work_order.pouching_start_dt.weekday() * schedule.COLS_PER_DAY)
                     + (work_order.pouching_start_dt.hour * schedule.COLS_PER_HOUR)) %}
                    {% set end_col = (schedule_offset + schedule.COLS_PER_WEEK) %}
                    <div id="sched_{{ work_order.lot_number }}" style="grid-column-start: {{ start_col }};
                            grid-column-end: {{ end_col }}; grid-row: {{ work_order.machine }};">
                        <a href="/view-work-order/{{ work_order.lot_number }}">
                            <li class="work_order {{ work_order.product }} week_end" style="grid-column-start: {{ start_col }}; grid-column-end: {{ end_col }};
                                    grid-row: {{ work_order.machine }};">
                                {{ work_order.short_name }} {{ work_order.lot_id }}
                            </li> 
                        </a>
                    </div>
                {% else %}
                <!-- WORK ORDERS -->
                    {% set start_col = schedule_offset + (work_order.pouching_start_dt.weekday() * schedule.COLS_PER_DAY)
                     + (work_order.pouching_start_dt.hour * schedule.COLS_PER_HOUR) %}
                    {% set end_col = schedule_offset + (work_order.pouching_end_dt.weekday() * schedule.COLS_PER_DAY)
                     + (work_order.pouching_end_dt.hour * schedule.COLS_PER_HOUR) + schedule.COLS_PER_HOUR + 1 %}
                    <div id="sched_{{ work_order.lot_number }}" style="grid-column-start: {{ start_col }};
                            grid-column-end: {{ end_col }}; grid-row: {{ work_order.machine }};">
                        <a href="/view-work-order/{{ work_order.lot_number }}">
                            <li class="work_order {{ work_order.product }}" style="grid-column-start: {{ start_col }}; grid-column-end: {{ end_col }};
                                    grid-row: {{ work_order.machine }};">
                                {{ work_order.short_name }} {{ work_order.lot_id }}
                            </li>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
        </div>

        <!-- PARKING LOT -->
        <div class="col parking-lot-column">
            <div class="parking_lot_header">Parking Lot</div>

            <div class="parking_lot">
                <a href="/add-work-order">
                    <div class="add" id="add_work_order">
                        +
                    </div>
                </a>
                {% for work_order in schedule.parking_lot() %}
                <a href="/view-work-order/{{ work_order.lot_number }}">
                    <div class="work_order {{ work_order.product }}" id="{{ work_order.lot_number }}" draggable="true">
                        {{ work_order.short_name }} {{ work_order.lot_id }}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{# <script type="text/javascript" src="/static/schedule.js"></script> #}

{% endblock %}