{% extends 'layout.html.jinja' %}
{% block content %}
<div class="card card-style mb-2 col-md-12 col-lg-10 col-xl-8" style="max-width: 720px;">
    <h3>Work Order Details</h3>
    <div class="main-block card-body" style="display: inline-flex;">
        <table class="table">
        <style>
            .left_col {
                width: 40%;
                font-weight: bolder;
            }
            .right_col {
                text-align: center;
            }
        </style>
            <tbody>
                <tr>
                    <td class="left_col">Product (Lot ID)</td>
                    <td class="right_col">{{ work_order.short_name }}
                        ({{ work_order.lot_id }})
                    </td>
                </tr>
                <tr>
                    <td class="left_col">Product Name</td>
                    <td class="right_col">{{ work_order.product_name }}</td>
                </tr>
                <tr>
                    <td class="left_col">Pouch Item Number</td>
                    <td class="right_col">{{ work_order.item_number }}</td>
                </tr>
                <tr style="border-bottom: 2px solid #000">
                    <td class="left_col">Pouch Lot # / Strip Lot #</td>
                    <td class="right_col">{{ work_order.lot_number }}
                        / {{ work_order.strip_lot_number }}
                    </td>
                </tr>
                <tr>
                    <td class="left_col">Qty. Strips Yielded</td>
                    <td class="right_col">{{ work_order.strip_qty }}</td>
                </tr>
                <tr>
                    <td class="left_col">Standard Rate</td>
                    <td class="right_col">{{ work_order.standard_rate }} / hr</td>
                </tr>
                <tr>
                    <td class="left_col">Standard Time</td>
                    <td class="right_col">{{ work_order.standard_time }}.0 hr</td>
                </tr>
                <tr style="border-bottom: 2px solid #000">
                    <td class="left_col">Status</td>
                    <td class="right_col">{{ work_order.status }}</td>
                </tr>
                {% if work_order.status == 'Pouching' %}
                <tr>
                    <td class="left_col">Poucher</td>
                    <td class="right_col">Line {{ work_order.line }}</td>
                </tr>
                <tr>
                    <tr>
                        <td class="left_col">Qty. Remaining</td>
                        <td class="right_col">{{ work_order.remaining_qty }}</td>
                    </tr>
                    <tr>
                        <td class="left_col">Time Remaining</td>
                        <td class="right_col">{{ work_order.remaining_time }}.0 hr</td>
                    </tr>
                    <td class="left_col">Job Started</td>
                    <td class="right_col">{{ work_order.start_datetime.strftime('%H:%M %m/%d/%y') }}</td>
                </tr>
                <tr style="border-bottom: 2px solid #000">
                    <td class="left_col">Est. Completion Time</td>
                    <td class="right_col">{{ work_order.end_datetime.strftime('%H:%M %m/%d/%y') }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td class="left_col">Work Order Created</td>
                    <td class="right_col">
                        {{ work_order.add_datetime.strftime('%H:%M %m/%d/%y') }}
                    </td>
                </tr>
                
                
                {% if work_order.status == 'Parking Lot' %}
                <tr>
                    <td colspan="2">
                    <a href="{{ url_for('load_work_order', lot_number = work_order.lot_number) }}"
                            class="btn btn-outline-info" style="width: 100%">Load to Poucher</a></td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="2">
                    <a href="{{ url_for('delete', lot_number = work_order.lot_number) }}"
                        class="btn btn-outline-warning" style="width: 100%">Edit Work Order</a></td>
                </tr>
                <tr>
                    <td colspan="2">
                    <a href="{{ url_for('delete', lot_number = work_order.lot_number) }}"
                        class="btn btn-outline-danger" style="width: 100%">Delete Work Order</a></td>
                </tr>
                <tr>
                    <td colspan="2">
                    <a href="{{ url_for('view_all_work_orders') }}"
                            class="btn btn-outline-dark" style="width: 100%">View All Work Orders</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}