{% extends 'layout.html.jinja' %}
{% block content %}
<div class="card card-style mb-2 col-sm-10 col-lg-9" style="min-width: 992px; max-width: 1280px;">
    <h3>All Work Orders</h3>
    <div class="main-block card-body" style="display: inline-flex;">
        <table class="table table-striped" style="text-align: center;">
            <thead style="background-color: #333; color: #ffffff;">
                <tr>
                    <th scope="col">Pouch Lot #</th>
                    <th scope="col">Product</th>
                    <th scope="col">Lot ID</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% if not work_order %}
                <tr>
                    <td>x</td>
                </tr>
                {% endif %}
                {% for work_order in work_orders %}
                <tr>
                    <th scope="row">{{ work_order.lot_number }}</th>
                    <td>{{ work_order.short_name }}</td>
                    <td>{{ work_order.lot_id }}</td>
                    <td>
                        {{ work_order.status }}{% if work_order.line %}: Line
                        {{ work_order.line}}
                        {% endif %}
                    </td>
                    <td style="text-align: right;">
                        {% if work_order.status == 'Parking Lot' %}
                        <a href="{{ url_for('load_work_order', lot_number = work_order.lot_number) }}"
                            class="btn btn-outline-info btn-sm">Load to Poucher</a>
                        {% endif %}
                        <a href="{{ url_for('view_work_order', lot_number = work_order.lot_number) }}"
                            class="btn btn-outline-dark btn-sm">View Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}