{% extends 'layout.html.jinja' %}
{% block content %}
<div class="card card-style mb-2 col-sm-10 col-lg-9" style="min-width: 992px; max-width: 1280px;">
    <div style="display: inline-flex; width: 100%;">
        <div style="width: 50%;">
            <h3 class="card-title">All Work Orders</h3>
        </div>
        <div style="width: 50%; margin-top: 25px; text-align: right;">
            <a href="{{ url_for('add_work_order') }}">
                <div class="h3-sub-right h3-sub-right-add">
                    +
                </div>
            </a>
        </div>
    </div>
    <div class="main-block card-body" style="display: inline-flex; min-height: unset;">
        <table class="table table-striped" style="text-align: center;">
            <thead style="background-color: #333; color: #ffffff;">
                <tr>
                    <th scope="col" style="text-align: left;">Product</th>
                    <th scope="col">Lot ID</th>
                    <th scope="col">Pouch Lot #</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% if work_orders is defined %}
                    {% for work_order in work_orders %}
                    <tr>
                        <td style="text-align: left; padding-left: 20px;">{{ work_order.short_name }}</td>
                        <td>{{ work_order.lot_id }}</td>
                        <th scope="row">{{ work_order.lot_number }}</th>
                        <td>
                            {{ work_order.status }}{% if work_order.machine %}:
                            {{ work_order.machine }}
                            {% endif %}
                        </td>
                        <td style="text-align: right;">
                            {% if work_order.status == 'Parking Lot' %}
                            <a href="{{ url_for('load_work_order', lot_number = work_order.lot_number) }}"
                                class="btn btn-outline-info btn-sm">Send to Poucher</a>
                            {% elif work_order.status == 'Pouching' %}
                            <a href="{{ url_for('park_work_order', lot_number = work_order.lot_number) }}"
                                class="btn btn-outline-warning btn-sm">Park</a>
                            {% endif %}
                            <a href="{{ url_for('view_work_order', lot_number = work_order.lot_number) }}"
                                class="btn btn-outline-dark btn-sm">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>No work orders.</tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}