{% extends 'layout.html' %}
{% block content %}
<div class="card card-style mb-2 col-sm-10 col-lg-8" style="min-width: 992px">
    <h3>All Work Orders</h3>
    <div class="main-block card-body" style="display: inline-flex;">
        <table class="table table-striped" style="text-align: center">
            <thead style="background-color: #555; color: #ffffff;">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Lot ID</th>
                    <th scope="col">Lot Number</th>
                    <th scope="col">Strip Lot Number</th>
                    <th scope="col">Added</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <td>{{ entry.product }}</td>
                    <td>{{ entry.lot_id }}
                    <th scope="row">{{ entry.lot_number }}</th>
                    <td>{{ entry.strip_lot_number }}
                    <td>{{ entry.date.strftime("%m-%d-%Y") }}</td>
                    <td>{{ entry.status }}</td>
                    <td><a href="{{ url_for('delete', lot_number = entry.lot_number) }}"
                            class="btn btn-outline-dark btn-sm">Edit</a>
                        <a href="{{ url_for('delete', lot_number = entry.lot_number) }}"
                            class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}