{% extends 'layout.html' %}
{% block content %}
<div class="col-sm-10 ml-auto mr-auto ">
    <H2>Current Work Orders</H2>
    <table class="table table-striped">
        <thead style="background-color: #555; color: #ffffff;">
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Lot ID</th>
                <th scope="col">Lot Number</th>
                <th scope="col">Added</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{ entry.product }}</td>
                <td>{{ entry.lot_id }}
                <th scope="row">{{ entry.lot_number }}</th>
                <td>{{ entry.date.strftime("%m-%d-%Y") }}</td>
                <td>{{ entry.status }}</td>
                <td><a href="{{ url_for('delete', lot_number = entry.lot_number) }}"
                    class="btn btn-outline-dark btn-sm">Edit</a>
                    <a href="{{ url_for('delete', lot_number = entry.lot_number) }}"
                        class="btn btn-outline-danger btn-sm">Remove</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}