{% extends 'layout.html.jinja' %}
{% block content %}
<div class="card card-style mb-2 col-md-12 col-lg-10 col-xl-8" style="max-width: 720px;">
    <h2 class="card-title">Line {{ line }}</h2>
    <div class="main-block card-body" style="display: inline-flex;">
        Card Body
    </div>
</div>
{% endblock %}