<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>qmfg-tools-prebuild</title>
        <link rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
        
    <div class="header">
        <h1>Header</h1>
        <p>Resize the browser window to see the responsive effect.</p>
    </div>
    
    <div class="topnav">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>

    <div class="main_row">main row
        <div class="left_column">left col
            <div></div>
        </div>
        <div class="poucher_column">poucher col
            <div class="poucher_row">Line 5
            </div>
            <div class="poucher_row">Line 6
            </div>
            <div class="poucher_row">Line 7
            </div>
            <div class="poucher_row">Line 8
            </div>
            <div class="poucher_row">Line 9
            </div>
        </div>
    </div>
    </body>
</html>
<div></div>