<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>qmfg-tools-prebuild</title>
        <link rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
        
    <div class="header">
        <h1>Header</h1>
        <p>Resize the browser window to see the responsive effect.</p>
    </div>
    
    <div class="topnav">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>

    
    <div class="left_column">
        <div></div>
    </div>
    <div class="poucher_column">
        <div class="poucher_row">
            <div class="day_block"></div>
            <div class="day_block"></div>
            <div class="day_block"></div>
            <div class="day_block"></div>
            <div class="day_block"></div>
            <div class="day_block"></div>
            <div class="day_block"></div>
        </div>
        <div class="poucher_row">Line 6
        </div>
        <div class="poucher_row">Line 7
        </div>
        <div class="poucher_row">Line 8
        </div>
        <div class="poucher_row">Line 9
        </div>
    </div>
    
    </body>
</html>
<div></div>