<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>qmfg-tools-prebuild</title>
        <link rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
    <div class="header">
        <h1>Pouching Schedule</h1>
        <p>Build in progress.</p>
    </div>
    
    <div class="topnav">
        <a href="/Help/">Help</a>
        <a href="/Change/">Modify Existing Job</a>
        <a href="/New/">Start New Job</a>
    </div>

    <ul class="calendar weekly-byline">

        <!--  WEEK DAYS  -->
        <li class="day mon">Mon</li>
        <li class="day tue">Tue</li>
        <li class="day wed">Wed</li>
        <li class="day thu">Thu</li>
        <li class="day fri">Fri</li>
        <li class="day sat">Sat</li>
        <li class="day sun">Sun</li>

        <!--  PRODUCTION LINES  -->
        <li class="line_5">Line 5</li>
        <li class="line_6">Line 6</li>
        <li class="line_7">Line 7</li>
        <li class="line_8">Line 8</li>
        <li class="line_9">Line 9</li>

        <!--  TOP LEFT CORNER FILLER  -->
        <li class="corner"></li>

        <!--  EMPTY CELL FILLERS -->
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </body>
</html>